:root {
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;
  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;
  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #6c757d;
  --gray-400: #495057;
  --gray-500: #343a40;
}

body {
  background-color: var(--light-blue-100);
  margin: 0;
  height: 100vh;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.main-container {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  padding: 2em;
  height: calc(100% - 50px - 4em);
}

.menu-container {
  width: 8%;
  min-height: 400px;
}

.form-container {
  display: flex;
  width: 50%;
  min-height: 400px;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  border-radius: 2em;
  padding: 1em;
}

.form-textarea {
  background-color: transparent;
  width: 100%;
  height: 80%;
  padding: 1em 0 0 0;
  border: none;
  resize: none;
  overflow: auto;
  outline: none;
  box-sizing: border-box;
  font-size: 2em;
  color: var(--dark-blue-300);
}

.form-textarea::placeholder {
  color: var(--dark-blue-300);
}

.form-info {
  display: flex;
  flex-direction: row;
}

.icon--info {
  margin-right: 5px;
}

.text--info {
  font-size: 13px;
  color: var(--gray-300);
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 2%;
  width: 100%;
}

.form-btn {
  border: 1px solid var(--dark-blue-300);
  width: 50%;
  padding: 1.5em 2em;
  border-radius: 1.5em;
}

.form-encrypt-btn {
  background-color: var(--dark-blue-300);
  color: #ffffff;
}

.form-decrypt-btn {
  background-color: #d8dfe8;
  color: var(--dark-blue-300);
}

.form-btn:hover {
  cursor: pointer;
  outline: none;
}

.result-container {
  width: 30%;
  display: flex;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: var(--gray-400);
  color: #ffffff;
}
