:root {
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;
  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;
  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #6c757d;
  --gray-400: #495057;
  --gray-500: #343a40;
}

body {
  background-color: var(--light-blue-100);
  margin: 0;
  height: 100vh;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.main-container {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  padding: 2em;
  height: calc(100% - 40px - 4em);
}

.menu-container {
  width: 8%;
  min-height: 400px;
}

.form-container {
  display: flex;
  width: 50%;
  min-height: 400px;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  border-radius: 2em;
  padding: 1em;
}

.form-textarea {
  background-color: transparent;
  width: 100%;
  height: 80%;
  padding: 1em 0 0 0;
  border: none;
  resize: none;
  overflow: auto;
  outline: none;
  box-sizing: border-box;
  font-size: 2em;
  color: var(--dark-blue-300);
}

.form-textarea::placeholder {
  color: var(--dark-blue-300);
  font-family: "Inter", sans-serif;
}

.form-info {
  display: flex;
  flex-direction: row;
}

.icon--info {
  margin-right: 5px;
}

.text--info {
  font-size: 13px;
  color: var(--gray-300);
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 2%;
  width: 100%;
}

.form-btn,
.result-copy-btn {
  border: 1px solid var(--dark-blue-300);
  width: 50%;
  padding: 1.5em 2em;
  border-radius: 1.5em;
}

.form-encrypt-btn {
  background-color: var(--dark-blue-300);
  color: #ffffff;
}

.form-decrypt-btn {
  background-color: #d8dfe8;
  color: var(--dark-blue-300);
}

.form-btn:hover,
.result-copy-btn:hover {
  cursor: pointer;
  outline: none;
}

.result-container {
  display: flex;
  box-sizing: border-box;
  width: 30%;
  background-color: #ffffff;
  border-radius: 2em;
  height: 100%;
  min-height: 400px;
  padding: 1em 2em;
}

.no-content-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.no-content-image {
  width: 80%;
}

.no-content-title {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--gray-500);
  padding: 0;
  margin: 1em 2em;
}

.no-content-subtitle {
  font-size: 14px;
  color: var(--gray-400);
}

.result-view {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.result-text {
  font-size: 1.5em;
  color: var(--gray-400);
}

.result-copy-btn {
  background-color: #ffffff;
  color: var(--dark-blue-300);
  width: 100% !important;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: var(--gray-400);
  color: #ffffff;
  font-size: 14px;
}

/* Desktop */
@media (max-width: 1024px) {
  .main-container {
    flex-direction: column;
    gap: 2%;
    padding: 2em;
  }

  .menu-container,
  .form-container,
  .result-container {
    width: 100%;
  }

  .menu-container {
    min-height: 50px;
  }

  .menu-container > img {
    margin-left: -50px;
  }

  .form-container {
    padding: 0px;
  }
  .result-container {
    justify-content: center;
    width: 100%;
    min-height: max-content;
    padding: 1em 2em;
    height: max-content;
  }
  .no-content-image {
    display: none;
  }
  .no-content-title {
    margin-bottom: 0px;
  }
}

/* Tablet */
@media (min-width: 540px) and (max-width: 1024px) {
  .main-container {
    height: calc(100% - 40px - 4em);
  }

  .no-content-title {
    margin-bottom: 0px;
  }
}

/* Mobile */
@media only screen and (max-width: 539px) {
  .main-container {
    height: min-content;
    gap: 20px;
  }

  .form-container {
    height: 400px;
  }

  .buttons-container {
    flex-direction: column;
    gap: 10px;
  }
  .form-btn {
    width: 100%;
  }

  .result-container {
    min-height: min-content;
    height: min-content;
  }

  .no-content-title {
    margin: 0px;
  }
}

body.swal2-height-auto {
  height: 100vh !important;
}
